*{
    margin: 0;
    padding: 0;
}

.page-wrapper{
    background-color:  #FED057;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#3FA6B4;
    padding: 5em;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form .Nome{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}

form .email{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}

form .senha{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}

form .cpf{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}

form .Senha{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}