*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FED057;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .logo{
    width: 80px;
}

.container .right ul{
    display: flex;

}

.container .right ul li{
    list-style: none;
    margin-right: 2em;
    font-size: 25px;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    font-size: 30px;
}

.content .main-image{
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.content .left{
    max-width: 500px;
}


.descricao{
    margin-top: 50px ;
    
}

.subtext{
    font-weight: 400;
}

#titulo{
    background-color: #41A6AD;
    height: 60px;

}
#pergunta{
    background-color:#41A6AD;
    height: 60px;

}

#resposta{
    background-color:#41A6AD;
    height: 60px;
}

.titulo{
    display: flex;
    flex-direction: column;

}

.pergunta{
    display: flex;
    flex-direction: column;
}

.resposta{
 display: flex;
 flex-direction: column;
}

.botao{
    margin-top: 1em;
}


#Excluir-pergunta{
    background-color:#FF0000;
    height: 45px;
}

#publicar-formulario{
    background-color:#00D916;
    height: 45px;
}
